<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ratemytoilet">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/toilet_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/toilet_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RateMyToilet"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCV4BT1MF8LWiFIShSVRIyCdCPmjxGY354" />

        <activity
            android:name=".AddLocationMapActivity"
            android:exported="false"
            android:label="@string/title_activity_add_location_map" />
        <activity
            android:name=".AddNewLocationActivity"
            android:exported="false"
            android:label="@string/title_activity_add_location_map" />
        <activity
            android:name=".launch.ConfirmPhoneActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".launch.PhoneActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".launch.LaunchActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayActivity"
            android:label="Washroom Reviews"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".NormalUserAddReviewActivity"
            android:label="Review Washroom"
            android:parentActivityName=".DisplayActivity"/>


    </application>

</manifest>